body {
    font-family: 'Montserrat', sans-serif;
}
section {
    height: 500px;
    background-color: white;
    border: solid black 1px;
}

.hero {
background-color:#1c1d25; /* can change this color later*/
height: 100vh; /* viewpoint height*/
color: white; /* font color */
font-size: 40px;
}

footer {
    height: 500px;
    background-color:black ;
}

nav{
    display: flex;
    justify-content: space-between; /* makes unorder list appear on the right */
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    /* width: 200px; */
    text-decoration: none; /* get rid of underlining that comes with link  */
}

h1 {
    font-size: 90px;
}

.hero-text {
    margin-left: 80px;
}

.button {
    width: 200px;
    height: 90px;
    border-radius: 60px; /* Makes it look like a pill*/
    background-color: coral;
    text-align: center;
}